:root {
  --primary-main: royalblue;
  --slate-300: #cbd5e1;
  --slate-600: #475569;
  --secondary-light: #fef3c7;
  --secondary-main: #d97706;
  --secondary-dark: #92400e;
}

html {
  font-size: 10px;
}

html,
body {
  margin: 0;
  font-family: "Sofia Sans", sans-serif;
}

body {
  font-size: 1.6rem;
}

main {
  max-width: 1024px;
  margin: 60px auto 0;
  padding: 8px 16px;
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
  line-height: 1;
}

h1,
h2,
h3,
h4,
p,
ol,
ul {
  margin: 0;
}

a {
  position: relative;
  text-decoration: none;
  color: royalblue;
  font-size: inherit;
}
a::after {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 0px;
  height: 2px;
  width: 100%;
  background-color: var(--primary-main);
  transform: scaleX(0);
  transition: transform 0.3s;
}
a:hover::after {
  transform: scaleX(1);
}

ul,
ol {
  padding-left: 16px;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

h1 {
  font-size: 2.7rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2.3rem;
}
h4 {
  font-size: 2.1rem;
}
@media (min-width: 1440px) {
  h1 {
    font-size: 2.6rem;
  }
  h2 {
    font-size: 2.4rem;
  }
  h3 {
    font-size: 2.2rem;
  }
  h4 {
    font-size: 2rem;
  }
}
@media (min-width: 800px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2.3rem;
  }
  h3 {
    font-size: 2.1rem;
  }
  h4 {
    font-size: 1.9rem;
  }
}
@media (min-width: 360px) {
  h1 {
    font-size: 2.4rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.8rem;
  }
}

.highlighted-text {
  color: var(--primary-main);
}
