<header class="header container">
  <h1 class="header__title">
    <a href="/">Aleksandr Kiliushin</a>
  </h1>
  <ul class="header__links">
    <li>
      <a class="header__link" href="/">Home</a>
    </li>
    <li>
      <a class="header__link" href="/algorithms">Algorithms</a>
    </li>
    <li>
      <a class="header__link" href="/about">About</a>
    </li>
    <li>
      <a class="header__link" href="/contacts">Contacts</a>
    </li>
  </ul>
</header>
