<header class="page-header">
  <h1>
    <a href="/">Aleksandr Kiliushin</a>
  </h1>
  <nav>
    <ul>
      <li>
        <a href="https://github.com/aleksandr-kiliushin" rel="noopener noreferrer" target="_blank">GitHub<a/>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/aleksandr-kiliushin" rel="noopener noreferrer" target="_blank">LinkedIn<a/>
      </li>
      <li>
        <a href="https://t.me/aleksandr_kiliushin" rel="noopener noreferrer" target="_blank">Telegram<a/>
      </li>
    </ul>
  </nav>
</header>
