<article class="post-card">
  <div class="post-card__image-wrapper">
    <img class="post__image" src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}">
  </div>
  <div class="post-card__body">
    <div class="post-card__tags">
      {% for tag in post.data.tech %}
        <span class="post-card__tag">{{ tag }}</span>
      {% endfor %}
    </div>
    <h3 class="post-card__title">
      <a href="{{ post.url }}">{{ post.data.title }}</a>
    </h3>
    <p class="post-card__summary">{{ post.data.summary }}</p>
    <a class="post-card__link" href="{{ post.url }}">Read post case study 
      <svg xmlns="http://www.w3.org/2000/svg" class="post-card__link-icon" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
      </svg>
    </a>
  </div>
</article>
