---
layout: "base.njk"
---

<div class="post">
  <div class="post-header">
    <h2>{{ title }}</h2>
    <div class="post-labels">
      {% for label in labels %}
        <span class="post-label">{{ label }}</span>
      {% endfor %}
    </div>
    <span class="post-date">{{ date.toUTCString().substring(5, 16) }}</span>
  </div>
  {{ content | safe }}
</div>
