---
title: "Simple search"
summary: "The most simple algorithm visualized."
labels:
  - "Algorithms"
  - "Visualization"
date: 2023-02-14
---

<div>
  <div class="elements-container">
    <div class="element">10</div>
    <div class="element">20</div>
    <div class="element">30</div>
    <div class="element">40</div>
    <div class="element">50</div>
    <div class="element">60</div>
    <div class="element">70</div>
    <div class="element">80</div>
    <div class="element">90</div>
    <div class="element">100</div>
  </div>

  <br/>
  <input type="number" />
  <button id="search">Search</button>
  <span>Result:</span>
  <span id="result">--</span>

  <div></div>
  <br/>
  <pre>
    <span id="loop-initialization-code-line">for (let index = 0; index &lt;= elements.length; index++) {</span>
      <span id="values-comparison-code-line">if (elements[index] === ___) {</span>
        <span id="returning-found-value-index-code-line">return elements[index]</span>
      }
    }
    <span id="returning-null-code-line">return null</span>
  </pre>
<div>
<script src="./index.js"></script>
