---
title: "Simple search"
layout: "base.njk"
---

<h1>{{ title }}</h1>
<ul>
  <li>
    <a href="/algorithms/simple-search">Simple search</a>
  </li>
  <li>
    <a href="/algorithms/binary-search">Binary search</a>
  </li>
</ul>
<p>Binary search bla bla.</p>
