:root {
  --primary-main: royalblue;
  --slate-300: #cbd5e1;
  --slate-600: #475569;
  --amber-100: #fef3c7;
  --amber-600: #d97706;
  --amber-700: #b45309;
  --amber-800: #92400e;
}

html {
  font-size: 10px;
}

html,
body {
  margin: 0;
  font-family: "Sofia Sans", sans-serif;
}

body {
  font-size: 1.6rem;
}

main {
  max-width: 1024px;
  margin: 60px 80px 0;
  padding: 8px;
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
}

a {
  position: relative;
  text-decoration: none;
  color: royalblue;
  font-size: inherit;
}
a::after {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 0px;
  height: 2px;
  width: 100%;
  background-color: var(--primary-main);
  transform: scaleX(0);
  transition: transform 0.3s;
}
a:hover::after {
  transform: scaleX(1);
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

h1 {
  font-size: 2.7rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2.3rem;
}
h4 {
  font-size: 2.1rem;
}
@media (min-width: 1440px) {
  h1 {
    font-size: 2.6rem;
  }
  h2 {
    font-size: 2.4rem;
  }
  h3 {
    font-size: 2.2rem;
  }
  h4 {
    font-size: 2rem;
  }
}
@media (min-width: 800px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2.3rem;
  }
  h3 {
    font-size: 2.1rem;
  }
  h4 {
    font-size: 1.9rem;
  }
}
@media (min-width: 360px) {
  h1 {
    font-size: 2.4rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.8rem;
  }
}

.highlighted-text {
  color: var(--primary-main);
}

/* NEW !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

img,
picture {
  width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.text-center {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 4rem;
  padding: 1rem 1.5rem;
}

.header__title {
  position: relative;
  margin-bottom: 1rem;
  margin-right: 1rem;
  color: var(--primary-main);
}

.header__links {
  display: flex;
  gap: 2rem;
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--primary-main);
}

.footer {
  flex-shrink: 0;
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;
}

.heading--main {
  padding: 1rem 0;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--primary-main);
}

.profile {
  display: flex;
  flex-direction: column;
}

.profile__image-wrapper picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.profile__image-wrapper img {
  width: 250px;
  height: 250px;
  border-radius: 9999px;
}

.profile__card {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  flex: 1;
}

.profile__text {
  margin-bottom: 1rem;
  color: var(--slate-600);
}

.profile__text--lead {
  font-weight: 500;
  font-size: 1.5rem;
}

.profile__text--highlight {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--primary-main);
}

.profile__text--emphasis {
  font-weight: bold;
  font-size: 1.125rem;
}

.profile__link {
  font-weight: bold;
  text-decoration: underline;
}

.technologies__heading {
  margin-bottom: 1.5rem;
  padding: 1rem 0;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
  color: var(--primary-main);
}

.technologies__list {
  width: 100%;
  max-width: 36rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  gap: 1.5rem;
}

.technologies__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.technologies__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 100%;
  margin-bottom: 0.5rem;
}

.technologies__title {
  font-weight: 400;
  color: var(--slate-600);
}

.projects {
  margin: 2rem auto 4rem auto;
}

.projects__heading {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  color: var(--primary-main);
}

.project__heading {
  padding: 1rem 0;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--primary-main);
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.project-card {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 0.375rem;
  overflow: hidden;
}

.project-card__image-wrapper img {
  width: 100%;
  height: auto;
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
  transition: transform 0.3s ease 0s;
}

.project-card__image-wrapper:hover img {
  transform: scale(1.05);
}

.project-card__body {
  padding: 1rem;
}

.project-card__title {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.project-card__title:hover {
  text-decoration: underline;
}

.project-card__tags {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
}

.project-card__tag {
  display: flex;
  padding: 0.25rem 0.5rem;
  border-radius: 9999px;
  font-size: 0.75rem;
  background-color: var(--amber-100);
  color: var(--amber-800);
}

.project-card__summary {
  margin-bottom: 1rem;
  color: var(--slate-600);
}

.project-card__link {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  color: var(--primary-main);
}

.project-card__link-icon {
  width: 20px;
  height: 20px;
}

.project-card__link:hover {
  text-decoration: underline;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 42rem;
  margin: 0 auto 4rem auto;
}

.project {
  margin-bottom: 4rem;
}

.project__image-wrapper {
  margin-bottom: 1.5rem;
}

.project__image-wrapper img {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
  border-radius: 0.25rem;
}

.prose {
  font-size: 1.125rem;
  color: var(--slate-600);
}

.prose h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--primary-main);
}

.prose ul {
  margin-bottom: 1rem;
}

.prose ul > li {
  position: relative;
  padding-left: 1.75em;
}

.prose ul > li::before {
  content: "";
  position: absolute;
  width: 0.375em;
  height: 0.375em;
  top: 0.6875em;
  left: 0.25em;
  border-radius: 50%;
  background-color: var(--slate-600);
}

.bio {
  margin: 0 auto 4rem auto;
  max-width: 65ch;
}

.contact__sub-heading {
  padding: 0 1rem;
  color: var(--slate-600);
}

.form {
  max-width: 36rem;
  margin: 4rem auto;
  border-radius: 0.25rem;
}

.form__section {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.form__label {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: 500;
}

.form__input {
  display: block;
  border: 1px solid var(--slate-300);
  border-radius: 0.25rem;
  padding: 0.5rem;
  color: var(--slate-600);
}

.form__button {
  display: block;
  width: 100%;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  color: #fff;
  background-color: var(--primary-main);
  transition: background-color 0.3s ease;
}

.form__button:hover {
  background-color: var(--primary-main);
}

@media (min-width: 640px) {
  .header__title {
    margin-bottom: 0;
  }

  .profile {
    flex-direction: row;
  }

  .profile__image-wrapper img {
    margin: 4rem;
  }
}
