.page-header {
  position: fixed;
  z-index: 1;
  top: 0;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  max-width: 1024px;
  padding: 8px;
  margin: 0 80px;
  background-color: #ffffffbb;
  backdrop-filter: blur(3px);
}

.page-header nav ul {
  display: grid;
  grid-auto-flow: column;
  column-gap: 16px;
  font-size: 1.8rem;
}
