.profile {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 300px auto;
  column-gap: 40px;
  padding: 40px;
}

.profile img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}
