---
title: "Event propagation"
summary: "Event propagation visualized."
labels:
  - "Web"
  - "Browsers"
  - "Visualization"
date: 2023-02-21
---

<div class="demo">
  <div id="html">
    <div class="flaked-off-layer" id="body">
      <form class="flaked-off-layer" id="form">
        <input class="flaked-off-layer" id="input" placeholder="Your address ..." />
        <textarea class="flaked-off-layer" id="textarea" placeholder="Your comment ..."></textarea>
        <button class="flaked-off-layer" id="button" onclick="event.preventDefault()">Submit</button>
      </form>
    </div>
  </div>

  <svg class="arrow" id="arrow-from-html-to-body" width="45" height="48" xmlns="http://www.w3.org/2000/svg">
    <path d="M 4 34 A 1 2 0 0 1 40 48" stroke="black" fill="none" stroke-width="2" />
    <path d="M 4 34 A 0 0 0 0 0 1 24" stroke="black" fill="none" stroke-width="2" />
    <path d="M 4 34 A 0 0 0 0 0 10 24" stroke="black" fill="none" stroke-width="2" />
  </svg>
  <svg class="arrow" id="arrow-from-body-to-html" width="45" height="48" xmlns="http://www.w3.org/2000/svg">
    <path d="M 4 34 A 1 2 0 0 1 40 48" stroke="black" fill="none" stroke-width="2" />
    <path d="M 36 38 A 0 0 0 0 0 40 48" stroke="black" fill="none" stroke-width="2" />
    <path d="M 44 38 A 0 0 0 0 0 40 48" stroke="black" fill="none" stroke-width="2" />
  </svg>

  <svg class="arrow" id="arrow-from-body-to-form" width="45" height="48" xmlns="http://www.w3.org/2000/svg">
    <path d="M 4 34 A 1 2 0 0 1 40 48" stroke="black" fill="none" stroke-width="2" />
    <path d="M 4 34 A 0 0 0 0 0 1 24" stroke="black" fill="none" stroke-width="2" />
    <path d="M 4 34 A 0 0 0 0 0 10 24" stroke="black" fill="none" stroke-width="2" />
  </svg>
  <svg class="arrow" id="arrow-from-form-to-body" width="45" height="48" xmlns="http://www.w3.org/2000/svg">
    <path d="M 4 34 A 1 2 0 0 1 40 48" stroke="black" fill="none" stroke-width="2" />
    <path d="M 36 38 A 0 0 0 0 0 40 48" stroke="black" fill="none" stroke-width="2" />
    <path d="M 44 38 A 0 0 0 0 0 40 48" stroke="black" fill="none" stroke-width="2" />
  </svg>

  <svg class="arrow" id="arrow-from-form-to-input" width="45" height="48" xmlns="http://www.w3.org/2000/svg">
    <path d="M 4 34 A 1 2 0 0 1 40 48" stroke="black" fill="none" stroke-width="2" />
    <path d="M 4 34 A 0 0 0 0 0 1 24" stroke="black" fill="none" stroke-width="2" />
    <path d="M 4 34 A 0 0 0 0 0 10 24" stroke="black" fill="none" stroke-width="2" />
  </svg>
  <svg class="arrow" id="arrow-from-input-to-form" width="45" height="48" xmlns="http://www.w3.org/2000/svg">
    <path d="M 4 34 A 1 2 0 0 1 40 48" stroke="black" fill="none" stroke-width="2" />
    <path d="M 36 38 A 0 0 0 0 0 40 48" stroke="black" fill="none" stroke-width="2" />
    <path d="M 44 38 A 0 0 0 0 0 40 48" stroke="black" fill="none" stroke-width="2" />
  </svg>

  <svg class="arrow" id="arrow-from-form-to-textarea" width="45" height="48" xmlns="http://www.w3.org/2000/svg">
    <path d="M 4 34 A 1 2 0 0 1 40 48" stroke="black" fill="none" stroke-width="2" />
    <path d="M 4 34 A 0 0 0 0 0 1 24" stroke="black" fill="none" stroke-width="2" />
    <path d="M 4 34 A 0 0 0 0 0 10 24" stroke="black" fill="none" stroke-width="2" />
  </svg>
  <svg class="arrow" id="arrow-from-textarea-to-form" width="45" height="48" xmlns="http://www.w3.org/2000/svg">
    <path d="M 4 34 A 1 2 0 0 1 40 48" stroke="black" fill="none" stroke-width="2" />
    <path d="M 36 38 A 0 0 0 0 0 40 48" stroke="black" fill="none" stroke-width="2" />
    <path d="M 44 38 A 0 0 0 0 0 40 48" stroke="black" fill="none" stroke-width="2" />
  </svg>

  <svg class="arrow" id="arrow-from-form-to-button" width="45" height="48" xmlns="http://www.w3.org/2000/svg">
    <path d="M 4 34 A 1 2 0 0 1 40 48" stroke="black" fill="none" stroke-width="2" />
    <path d="M 4 34 A 0 0 0 0 0 1 24" stroke="black" fill="none" stroke-width="2" />
    <path d="M 4 34 A 0 0 0 0 0 10 24" stroke="black" fill="none" stroke-width="2" />
  </svg>
  <svg class="arrow" id="arrow-from-button-to-form" width="45" height="48" xmlns="http://www.w3.org/2000/svg">
    <path d="M 4 34 A 1 2 0 0 1 40 48" stroke="black" fill="none" stroke-width="2" />
    <path d="M 36 38 A 0 0 0 0 0 40 48" stroke="black" fill="none" stroke-width="2" />
    <path d="M 44 38 A 0 0 0 0 0 40 48" stroke="black" fill="none" stroke-width="2" />
  </svg>
</div>
<script src="./index.js"></script>
