.demo {
  width: 100%;
  max-width: 500px;
  margin: 40px auto;
}

.flaked-off-layer {
  transform: translate(-28px, -28px);
  box-shadow: 28px 28px #00000044;
}

.demo #html {
  padding: 12px;
  background-color: antiquewhite;
  border: 2px solid darkgoldenrod;
  transform: rotate(10deg) skew(-15deg, -10deg);
}
.demo #html::after {
  content: "html";
  color: darkgoldenrod;
}

.demo #body {
  padding: 12px;
  background-color: darkseagreen;
  border: 2px solid forestgreen;
}
.demo #body::after {
  content: "body";
  color: forestgreen;
}

.demo #form {
  padding: 12px;
  display: grid;
  row-gap: 12px;
  background-color: cornflowerblue;
  border: 2px solid blue;
}
.demo #form::after {
  content: "form";
  color: blue;
}

.demo #input {
  height: 28px;
}

.demo #textarea {
  height: 56px;
}

.demo #button {
  justify-self: end;
  height: 28px;
  padding: 0 12px;
}

.active {
  background: linear-gradient(-45deg, orange, red, blue, green) !important;
  background-size: 200% 200%;
}
