---
title: "Event propagation"
summary: "Event propagation visualized."
labels:
  - "Web"
  - "Browsers"
  - "Visualization"
date: 2023-02-21
---

<div class="demo">
  <div id="html">
    <div class="flaked-off-layer" id="body">
      <form class="flaked-off-layer" id="form">
        <input class="flaked-off-layer" id="input" placeholder="Your address ..." />
        <textarea class="flaked-off-layer" id="textarea" placeholder="Your comment ..."></textarea>
        <button class="flaked-off-layer" id="button" onclick="event.preventDefault()">Submit</button>
      </form>
    </div>
  </div>
</div>
<script src="./index.js"></script>
