.posts-list {
  display: grid;
  row-gap: 16px;
}

.post-card {
  display: grid;
  row-gap: 4px;
}

.post-labels {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  column-gap: 4px;
}

.post-label {
  display: flex;
  background-color: var(--secondary-light);
  color: var(--secondary-dark);
}
.post-label::before {
  content: "#";
}

.post-date {
  color: var(--slate-600);
}

.post {
  display: grid;
  row-gap: 12px;
}

.post-header {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
  column-gap: 12px;
}
