---
title: "Home page"
layout: "base.njk"
---

<section class="profile">
	<img class="profile-photo" src="/images/profile-photo.jpg" alt="Aleksandr Kiliushin, frontend developer">
  <div class="profile-introduction">
    <p>Hi! I'm <span class="highlighted-text">Aleksandr</span>, a frontend developer.</p>
  </div>
</section>
